<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleepingbear.vhdictandvoc">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".WordViewActivity"
            android:label="@string/title_activity_word_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study2Activity"
            android:label="@string/title_activity_study2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study4Activity"
            android:label="@string/title_activity_study4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocabularyActivity"
            android:label="@string/title_activity_vocabulary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SentenceViewActivity"
            android:label="@string/title_activity_sentence_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study5Activity"
            android:label="@string/title_activity_study5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study6Activity"
            android:label="@string/title_activity_study6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GrammarActivity"
            android:label="@string/title_activity_grammar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GrammarViewActivity"
            android:label="@string/title_activity_grammar_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatchActivity"
            android:label="@string/title_activity_patch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MySpeechService">
            <intent-filter>
                <action android:name="com.sleepingbear.vhdictandvoc.MySpeechService" />
            </intent-filter>
        </service>
        <service android:name=".NewsTtsService">
            <intent-filter>
                <action android:name="com.sleepingbear.vhdictandvoc.NewsTtsService" />
            </intent-filter>
        </service>

        <activity
            android:name=".VocabularyNoteActivity"
            android:label="@string/title_activity_vocabulary_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocabularyNoteViewActivity"
            android:label="@string/title_activity_vocabulary_note_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NaverConversationActivity"
            android:label="@string/title_activity_naver_conversation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NaverConversationViewActivity"
            android:label="@string/title_activity_naver_conversation_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DictionaryHistoryActivity"
            android:label="@string/title_activity_dictionary_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebDictionaryActivity"
            android:label="@string/title_activity_web_dictionary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebTranslateActivity"
            android:label="@string/title_activity_web_translate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConversationStudyActivity"
            android:label="@string/title_activity_conversation_study"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConversationNoteActivity"
            android:label="@string/title_activity_conversation_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConversationNoteStudyActivity"
            android:label="@string/title_activity_conversation_note_study"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConversationNoteViewActivity"
            android:label="@string/title_activity_conversation_note_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsClickWordActivity"
            android:label="@string/title_activity_news_click_word"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsWebViewActivity"
            android:label="@string/title_activity_news_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatternActivity"
            android:label="@string/title_activity_pattern"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatternViewActivity"
            android:label="@string/title_activity_pattern_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TodayActivity"
            android:label="@string/title_activity_today"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryViewActivity"
            android:label="@string/title_activity_category_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VslActivity"
            android:label="@string/title_activity_vsl"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".News2Activity"
            android:label="@string/title_activity_news2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".News2ViewActivity"
            android:label="@string/title_activity_news2_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>